---
import Page from "../layouts/Page.astro";
---

<Page title="RPIC">
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse aliquam
    officia, vel aliquid, iste recusandae odio nesciunt dolores nostrum laborum
    qui? Tenetur nostrum omnis accusantium unde ipsum quaerat rem architecto!
  </p>
</Page>

<style lang="scss">
  :root,
  body {
    margin: 0;
    padding: 0;
  }

  nav {
    border: 0;
    margin: 0;
    width: 100%;
    padding: {
      inline: 0.5rem;
      block: 1rem;
    }
    background: {
      color: green;
    }
  }
</style>
