<footer>
  <ul class="social">
    <li><a href="">GitHub</a></li>
    <li><a href="">Twitter</a></li>
    <li><a href="">Email</a></li>
    <li><a href="">Telefone</a></li>
  </ul>
  <ul class="social">
    <li><a href="">GitHub</a></li>
    <li><a href="">Twitter</a></li>
    <li><a href="">Email</a></li>
    <li><a href="">Telefone</a></li>
  </ul>
  <ul class="social">
    <li><a href="">GitHub</a></li>
    <li><a href="">Twitter</a></li>
    <li><a href="">Email</a></li>
    <li><a href="">Telefone</a></li>
  </ul>
</footer>

<style lang="scss">
  footer {
    min-height: 3rem;
    width: 100vw;
    background-color: black;
    color: white;
    display: grid;

    gap: 1rem;
    justify-content: space-between;
    grid-template-columns: repeat(4, 1fr);
  }

  ul {
    list-style: none;
  }
</style>
