---
interface Props {
  display: "full" | "logo" | "text";
}

const { display = "full" } = Astro.props;
---

<div>
  {
    (display === "full" || display === "logo") && (
      <img
        src="../../node_modules/bootstrap-icons/icons/laptop.svg"
        alt="RPIC logo"
      />
    )
  }
  {(display === "full" || display === "text") && <span>RPIC</span>}
</div>

<style lang="scss">
  @use "../style/utils.scss";

  div {
    @extend %flex-list;
    column-gap: 1em;

    img {
      color: white;
      width: 2.5em;
      filter: invert(1);
    }

    span {
      box-sizing: content-box;
      color: utils.$text-color;
      font: {
        weight: bolder;
        size: 1.8em;
      }
    }
  }
</style>
