---
import Logo from "./Logo.astro";
import PageList from "./PageList.astro";
import LoginButton from "./LoginButton.svelte";
---

<nav>
  <Logo display={"full"} />

  <div>
    <PageList />
    <span>|</span>
    <LoginButton client:load />
  </div>
</nav>

<style lang="scss">
  @use "../style/utils.scss";

  nav {
    @extend %flex-list;
    padding: {
      inline: 1rem;
      block: 0.5rem;
    }

    background: {
      color: utils.$nav-background;
    }

    font: {
      family: inherit; // Algum dia desses eu coloco a fonte certa
    }

    div {
      @extend %flex-list;
      column-gap: 1.5rem;
    }

    ul {
      @extend %flex-list;
      color: utils.$text-color;
      list-style-type: none;
    }
  }

  @media (max-width: 992px) {
    nav {
      font-size: 1rem;
      display: grid;

      grid-template-areas:
        "logo  login"
        "pages pages";

      row-gap: 1rem;
    }
  }
</style>
