---
import Nav from "../components/Nav.astro";
import Layout from "./Layout.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<Layout title={title}>
  <Nav />
  <div>
    <slot />
  </div>
  <Footer />
</Layout>
